.bg-rose{
    background: #fff7f8;
}

.input-group {
    flex-wrap: nowrap;
}

.input-group-underlined:focus .btn-underlined,.input-group-underlined:hover .btn-underlined{
    border-bottom-color:#212529
}

.input-group-underlined:focus .form-control-underlined,.input-group-underlined:hover.form-control-underlined{
    border-bottom-color:#212529
}

.btn.btn-underlined {
    transition: all .5s;
    border-top: none;
    border-right: none;
    border-bottom-color: #ced4da;
    border-left: none;
    background-color: transparent;
}
.form-controls {
    display: block;
    width: 100%;
    height: calc(1.6em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0;
    transition: border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
}

.form-controls{
    display:block;
    width:100%;
    height:calc(1.6em + .75rem + 2px);
    padding:.375rem .75rem;
    font-size:1rem;
    font-weight:400;
    line-height:1.6;
    color:#212529;
    background-color:#fff;
    background-clip:padding-box;
    border:1px solid #ced4da;
    border-radius:0;
    transition:border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out
}

.centrado{
    text-align: left;
    font-size: small;
    font-family: 'Montserrat', sans-serif;
}

