*{
    font-family: 'Montserrat', sans-serif;
}

.bg-rose{
    background: #fff7f8;
}

.input-group {
    flex-wrap: nowrap;
}

.input-group-underlined:focus .btn-underlined,.input-group-underlined:hover .btn-underlined{
    border-bottom-color:#212529
}

.input-group-underlined:focus .form-control-underlined,.input-group-underlined:hover.form-control-underlined{
    border-bottom-color:#212529
}

.btn.btn-underlined {
    transition: all .5s;
    border-top: none;
    border-right: none;
    border-bottom-color: #ced4da;
    border-left: none;
    background-color: transparent;
}
.form-controls {
    display: block;
    width: 100%;
    height: calc(1.6em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0;
    transition: border-col
    or 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
}

.form-controls{
    display:block;
    width:100%;
    height:calc(1.6em + .75rem + 2px);
    padding:.375rem .75rem;
    font-size:1rem;
    font-weight:400;
    line-height:1.6;
    color:#212529;
    background-color:#fff;
    background-clip:padding-box;
    border:1px solid #ced4da;
    border-radius:0;
    transition:border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out
}

@media (prefers-reduced-motion: reduce){
    .form-controls{
        transition:none
    }
}
.form-controls::-ms-expand{
    background-color:transparent;border:0
}
.form-controls:-moz-focusring{
    color:transparent;text-shadow:0 0 0 #212529
}
.form-controls:focus{
    color:#212529;
    background-color:#fff;
    border-color:#d5cba9;
    outline:0;
    box-shadow:none
}
.form-controls::-webkit-input-placeholder{
    color:#adb5bd;
    opacity:1
}
.form-controls::-moz-placeholder{
    color:#adb5bd;
    opacity:1
}
.form-controls:-ms-input-placeholder{
    color:#adb5bd;opacity:1
}
.form-controls::-ms-input-placeholder{
    color:#adb5bd;
    opacity:1
}
.form-controls::placeholder{
    color:#adb5bd;
    opacity:1
}
.form-controls:disabled,.form-controls[readonly]{
    background-color:#e9ecef;
    opacity:1
}

.form-controls.form-control-underlined{
    padding-left:0;
    transition:all .5s;
    border-top:none;
    border-right:none;
    border-left:none;
    background-color:transparent
}
.form-controls.form-control-underlined:focus{
    border-color:#e9a963;
    box-shadow:none
}
.form-controls.form-control-underlined:focus ~ .input-group-append>.btn-underlined{
    border-bottom-color:#e9a963
}
.btn.btn-underlined{
    transition:all .5s;
    border-top:none;
    border-right:none;
    border-bottom-color:#ced4da;
    border-left:none;
    background-color:transparent
}
.btn.btn-underlined:focus{
    box-shadow:none
}


.input-group-underlined:focus .btn-underlined,.input-group-underlined:hover .btn-underlined{
    border-bottom-color:#e9a963
}
.input-group-underlined:focus .form-control-underlined,.input-group-underlined:hover .form-control-underlined{
    border-bottom-color:#e9a963
}
.text-rose{
    color:#e9a963 !important;
}

.navbar-nav .nav-link {
    position: relative;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: .75rem;
    font-weight: 500;
    letter-spacing: 0;
    text-transform: uppercase;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    -webkit-transition-property: color;
    transition-property: color;
}

@media (min-width: 1200px){
    .navbar-nav .nav-item-divider {
        display: block;
    }
}

.navbar-nav .nav-item-divider .nav-link {
    opacity: .25;
}

.navbar-nav .nav-item-divider {
    display: block;
}

.navbar-nav .nav-item-divider .nav-link>span {
    border-left: 1px solid;
}

.navbar:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    border-bottom: 1px solid rgba(0,0,0,.1);
    opacity: 0;
    -webkit-transition: opacity .15s linear;
    transition: opacity .15s linear;
    z-index: -1;
}

@media (min-width: 768px){
.section-top {
    padding-top: calc(7.5rem + 5.8125rem);
}
.section {
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
}
}

.section-top {
    padding-top: calc(5rem + 5.8125rem);
}

.section {
    position: relative;
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.bg-2{

        background: linear-gradient(to right,#ffffff(214, 214, 214), #ffffff(247, 187, 151));

      }
     
    .t-stroke-shadow {
        text-align: center;
        color: rgb(148, 34, 110);
        text-shadow: -3px 3px #fca2a2, -3px -3px #b11717, 3px -3px #201620, 3px 3px #91910e, 6px 6px #2e7470;

    }

    .conte{
        display: flex;
        justify-content:center ;
        align-items: center;
        flex-wrap: wrap;
    }
    .conte{
        height: 510px;
        width: 25%;
        box-shadow:0 0 7px;
        margin: 30px 30px;
    }
    .conte .card{
        height: 200px;
        width: 100%;
        margin-bottom: 170px;
    }
    .card img{
        margin: auto;
        display: block;
    }
    .conte .stromtroper img{
        height: 330px;
        width: 330px;
    }
    .conte .stromtroper{
         background-color: transparent;
    }
    .conte .iron-man{
        background-color: transparent;
    }
    .conte .spider-man{
        background-color:transparent;
    }
    .conte .iron-man img{
        height: 330px;
        width: 230px;
    }
    .conte .spider-man img{
        height: 330px;
        width: 300px;
    }
    .informacion{
        height: 80px;
        width: 100%;
    }
    .informacion h1{
        font-family: sans-serif;
        font-size: 1.2em;
        text-align: center;
        color: #333;
        margin-bottom: -10px;
    }
    .informacion p{
        text-align: center;
        font-family: sans-serif;
        font-size: .9em;
        color: #555;
    }
    .precio {
        height:50px;
        width: 85%;
        margin: auto;
        font-family: sans-serif;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .box-precio{
        width: 80px;
    }
     .precio1{
        color: red;
        font-size: .8em;
    }
    .precio .precio2{
        font-size: 1.5em;
    }
    .shoping{
        font-size: 1.5em;
        color: #555;
    }
    
    @media (max-width:320px)
    {
        .conte{
            width: 100%;
            margin: 30px 0;
        }
    }
    @media (max-width:600px)
    {
        .conte{
            width: 100%;
            margin: 30px 0;
        }
    }
    
    @media (max-width:700px)
    {
        .conte{
            width: 80%;
            margin: 30px 0;
        }
    }
    
    @media (max-width:900px)
    {
        .conte{
            width: 40%;
            margin: 30px 20px;
        }
    }

@media (min-width:768px){
    .section-full .container>.row{
        min-height:calc(100vh - 7.5rem * 2)
    }
    .section-full .container>.row:before{
        content:'';
        min-height:inherit;
    }
    .section-full.section-top>.container>.row{
        min-height:calc(100vh - 7.5rem * 1)
    }
}
.line-heigt{
    line-height: 0.5 !important;
}
.btn-rose{
    color:#e9a963;
    font-weight: bold;
    border-color: #e9a963;
}

.btn-rose:hover{
    color:white;
    background-color: #e9a963;
}
*, *::before, *::after {
    box-sizing: border-box;   
}
.bg-light{
 background-color:#e9a963 !important;
}
